header{
    background-color: grey;
    padding: 20px 0;
    ul{
        display: flex;
        justify-content: space-evenly;
        li{
            display: flex;
            color: white;
        }
    }
}