footer{
        padding-top: 50px;
        font-family: 'Poppins', sans-serif;
        a{
            color: black;
            &:hover{
                text-decoration: underline;
            }
        }
    .upper-section{
        display: flex;
        .logo-container{
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;  
        }
        .grid-container{
            width: 70%;
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            height: 300px;
            form{
                input{
                    border-bottom: 1px solid black;
                    height: auto;
                }
                #email{
                    font-size: smaller;
                    width: 50%;
                }
                #submitBtn{
                    background-color: white;
                    font-weight: 500;
                    margin-left: 10px;
                }
            }
            .item-8{
                grid-column-start: 2;
                grid-column-end: 4;
            }
            .item-10{
                grid-column-start: 2;
                grid-column-end: 4;
            }
            
        }
    }
    .lower-section{
        text-align: center;
        padding-bottom: 40px;
        p{
            margin-top: 30px;
        }
    }
}

@media screen and (max-width:1200px) {
    footer{
        .upper-section{
            flex-direction: column-reverse;
            align-items: center;
            .grid-container{
                width: 95%;
            }
        }
    }
}
@media screen and (max-width:800px) {
    footer {
        .upper-section {
            flex-direction: column-reverse;
            align-items: center;

            .grid-container {
                width: 95%;
                height: 500px;
                grid-template-columns: 1fr;
                text-align: center;
                .item-8 {
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                
                .item-10 {
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .item-6{
                    grid-row-start: 11;
                }
                
                .item-4 {
                    grid-row-start: 2;
                }
                .item-7 {
                    grid-row-start: 3;
                }

        }
    }
}