header {
    background-color: lightgray;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
    .contact {
        display: flex;
        display: none;
        justify-content: space-evenly;

        li {
            display: flex;
            color: white;
        }
    }
    .header-section{
        display: flex;
        justify-content: space-around;
        
        .menu{
            display: flex;
            width: 40vw;
            // border: 1px solid grey;
            justify-content: space-between;
            align-items: center;
            
            li{
                a{
                    color: black;
                }

            }
        }
        
        .tools{
            display: flex;
            width: 15vw;
            // border: 1px solid grey;
            justify-content: space-between;
            align-items: center;
            li{
                // margin-left: 30px;
                // height: 10px;
            }
        }

    }
}