@mixin li_a{
    padding: 10px 20px;
        border-radius: 10px;
        color: black;
        
        &:hover {
            background-color: rgb(170, 170, 170);
        }
}
header {
    background-color: lightgray;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
    .header-section{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

        .menu{
            display: flex;
            max-width: 45%;
            justify-content: space-between;
            align-items: center;
            
            li{
                margin-left: 5%;
                a{  
                    @include li_a;
                }
            }
        }
        
        .tools{
            display: flex;
            max-width: 30%;
            justify-content: space-between;
            align-items: center;
            li{
                a{
                    @include li_a;
                }

            }
        }

    }
}

@media screen and (max-width:1200px) {
    header{
        .header-section {
            flex-direction: column;
            align-items: center;
            .menu{
                width: 90%;
                max-width: 90%;
                margin-top: 20px;
            }
            .tools{
                margin-top: 20px;
                margin-bottom: 20px;
                max-width: 90%;
            }
        }
        
    }
}

@media screen and (max-width:800px) {
    header {
        .header-section {
            flex-direction: column-reverse;
            align-items: center;

            .menu {
                width: 95%;
                max-width: 95%;
                margin-top: 0px;
                display: flex;
                flex-direction: column;
                li {
                        margin-left: 0;
                        margin-top: 20px;
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        a {
                            min-width: 90%;
                            text-align: center;
                            @include li_a;
                        }
                    }
            }
            .tools {
                margin-bottom: 0px;
            }
        }

    }
}