@mixin li_a{
    padding: 10px 20px;
        border-radius: 10px;
        color: black;
        
        &:hover {
            background-color: rgb(170, 170, 170);
        }
}
header {
    background-color: lightgray;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
    .header-section{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        .menu{
            display: flex;
            max-width: 45%;
            justify-content: space-between;
            align-items: center;
            
            li{
                margin-left: 5%;
                a{  
                    @include li_a;
                }
            }
        }
        
        .tools{
            display: flex;
            max-width: 30%;
            justify-content: space-between;
            align-items: center;
            li{
                a{
                    @include li_a;
                }

            }
        }

    }
}