@mixin view-more-link{
    display: inline-block;
    font-weight: 500;
    height: 2rem;    
    color: black;
    border-bottom: 1px solid black;
    transition: all 0.2s ease 0s;
    // margin-left: 10px;
    &:hover {
            // text-decoration: underline;
            padding: 0 var(--link_unrerline_length);
            margin-left: 0px;
        }
}
@mixin button-settings{
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: 500;
    &:hover{
        text-decoration: underline;
        box-shadow: 0px 0px 5px rgb(17, 17, 17);
    }
}
@mixin section-settings{
    padding-top: 50px;
    padding-bottom: 50px;
}

main{
    font-family: 'Poppins', sans-serif;
    .brands{
        padding: 50px 0;
        background-color: lightgray;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        .description{
            text-align: center;
            h1{
                font-weight: 600;
                span{
                    color: white;
                }
            }
            button{
                background-color: grey;
                color: white;
                @include button-settings;

            }
        }
            
    }
    .categories{
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(232, 232, 232);
        @include section-settings;
        
        h4{
                margin: 20px 0;
                margin-left: var(--link_unrerline_length);
            }
        .view-more{
            @include view-more-link;
            margin-left: var(--link_unrerline_length);
        }    
    }

    .disposable-parts{
        @include section-settings;
        max-width: 1200px;
        margin: 0 auto;
        h4{
            text-align: center;
        }
        small{
            display: block;
            text-align: center;
            color: grey;
            margin-top: 20px;
        }
        .part-list{
            margin-top: 40px;
            display: flex;
            justify-content: space-around;

            li a{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px 15px;
                width: 200px;
                border-radius: 15px;
                transition: all 0.2s ease 0s;
                img{

                }
                ul{
                    li{
                        font-size: small;
                    }
                    .Rs{
                        font-size:medium;
                        font-weight: 500;
                        margin-top: 10px;
                    }
                }
                &:hover {
                    scale: 1.1;
                    box-shadow: 0px 0px 5px grey;
                    background-color: rgb(241, 241, 241);
                }

            }
            
        }
        .view-more-link-conteiner{
            // border: 1px solid grey;
            margin-top: 70px;
            text-align: center
        }
        .view-more{
            @include view-more-link;
        }
    }
    .oil{
        background-color: grey;
        
        
        @include section-settings;
        .oil-container{
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
        }
        img{
            width: 70%;
        }
        .oli-description{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            // border: 1px red solid;
            width: 30%;
            button{
                @include button-settings;
            }
            
            
            
        }
    }
    .blogs{
        @include section-settings;
        .blogs-header{
            text-align: center;
        }
        small{
            display: block;
            text-align: center;
            margin-top: 20px;
            color: grey;
        }
        ul{
            max-width: 1200px-;
            margin: 0 auto;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            li{
                text-align: center;
                margin: 0 1%;

                img{
                    width: 100%;
                }
                .blog-description{
                    margin-top: 30px;
                }
                .view-more{
                    @include view-more-link;
                    margin-top: 15px;
                }
                .date-published{
                    margin-top: 20px;
                    // display: flex;
                    justify-content: center;
                    .time{
                        margin-left: 5px;
                    }
                    .calendar{
                        margin-left: 20px;
                    }
                    .date{
                        margin-left: 5px;
                    }

                }
            }
            
        }
        .view-more-link-conteiner{
            text-align: center;
            margin-top: 60px;
            .view-more{
                @include view-more-link;
                
            }    
        }
        
    }
    .instagram{
        padding-top: 100px;
        padding-bottom: 120px;
        background-image: url(/StepIT_Project1/assets/Instagram_background.png), url(../assets/Instagram_background.png);
        background-size: cover;
        text-align: center;
        h1{
            font-size:  3rem;
        }
        button{
            @include button-settings;
            height: 3rem;
            border-radius: 1.5rem;
            width: 200px;
            box-shadow: 5px 5px 10px grey;
            margin-top: 40px;
        }
    }
}