@mixin view-more-link{
    display: inline-block;
    font-weight: 500;
    height: 2rem;    
    color: black;
    border-bottom: 1px solid black;
}
@mixin button-settings{
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: 500;
}
@mixin section-settings{
    padding-top: 50px;
    padding-bottom: 50px;
}

main{
    font-family: 'Poppins', sans-serif;
    .title-section{
        position: relative;
        height: 316px;
        background-image: url(../../assets/shop_title.png);
        background-repeat: no-repeat;
        background-size: 100%;
        .logo-container{
            position: absolute;
            right: 25%;
        }
        h1{
            text-align: center;
            padding-top: 100px;
            font-size: 3rem;
            font-weight: 500;
        }
        .address{
            text-align: center;
            a{
                color: black;
            }
        }

    }
    .filter-section{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10%;
        background-color: lightgrey;
         li{
                margin-left: 20px;
            }
        .filter-parameters{
            display: flex;
            align-items: center;
           
        }
        .sorting-parameters{
            
            display: flex;
            align-items: center;
            .white-box{
                background-color: white;
                padding: 10px 15px;
                border-radius: 8px;
                color: grey;
            }
        }   
    }
    .goods-section{
        .goods-list{
            display: grid;
            grid-template-columns: auto auto auto auto;
            text-align: center;
            li{
                display: flex;
                justify-content: center;
                text-align: center;
                margin: 30px 0;
            }
            li a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                width: 220px;
                border-radius: 5px;
                transition: all 0.2s ease 0s;
                &:hover{
                    scale: 1.1;
                    box-shadow: 0px 0px 5px grey;
                    background-color: rgb(241, 241, 241);
                }
                img{
                    width: 200px;
                }
                .goods-description{
                    text-align: left;
                    padding-left: 20px;
                    color: black;
                    p:nth-child(2){
                        margin-top: 5px;
                    }
                    p:nth-child(3){
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin-top: 5px;
                    }
                }
            }
        }
        .pagination{
            text-align: center;
            margin-top: 20px;
        }
    }
    .conditions-section{
        background-color: lightgray;
        margin-top: 60px;
        padding: 60px 0;
        ul{
            display: flex;
            justify-content: space-between;
            li {
                h5{
                    font-weight: 500;
                }
                &:nth-child(2){
                    margin: 0 40px;
                }
            }

        }

    }

    
}